# Unity specific files and folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]serSettings/

# macOS specific files
.DS_Store
.AppleDouble
._*[Tt]humbs.db
._*[Dd]esktop.ini

# Visual Studio Code settings
.vscode/

# Rider settings
.idea/

# Project-specific settings
*.sln
*.csproj